.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 60px;

    background-color: #0078d4;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header h2 {
    color: #ffffff;
}