.usuario {
    display: grid;
    grid-template-rows: 80px 60px calc(100% - 260px);
}

.usuario .ms-CommandBar {
    background-color: #f3f2f1;
}

.usuario .ms-CommandBar button{
    background-color: #f3f2f1;
}

.usuario .ms-CommandBar button :hover{
    background-color: #e1dfdd;
}

.contenedorLista{ overflow: auto;}